.body {
  font: 15px Arial;
  font-weight: bold ;
}

.border {
  border: 2px black solid;
  font: 20px Arial;
}

.center {
  font: 20px Arial, serif;
  text-align: center;
}

.title {
  text-align: center;
  text-decoration: underline;
  font: 50px Arial, serif;
  font-weight: bold;
}


.nav {
  font: 15px Arial;
  font-weight: bold ;
}

.font {
  font: 20px Arial, serif;
}

.time {
  font: 15px Arial, serif;
}

